Repository myceliumAI/mycelium, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci, dependencies, security, testing, api

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

update makefile
  Makefile
Labels: none

Python 3.13.1 and poetry 2.0
  Makefile
  backend/api/poetry.lock
  backend/api/pyproject.toml
Labels: backend

update
  Makefile
  backend/api/app/crud/data_contract.py
  backend/api/app/crud/template.py
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/errors/__init__.py
  backend/api/app/errors/crud/data_contract.py
  backend/api/app/errors/crud/template.py
  backend/api/app/errors/database/dsn.py
  backend/api/app/errors/database/manager.py
  backend/api/app/errors/routers/data_contract.py
  backend/api/app/errors/routers/template.py
  backend/api/app/errors/service/template.py
  backend/api/app/errors/utils/config.py
  backend/api/app/main.py
  backend/api/app/routers/data_contract.py
  backend/api/app/routers/template.py
  backend/api/app/services/data_contract.py
  backend/api/app/services/template.py
  backend/api/app/utils/config.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/tests/test_data_contract_crud.py
Labels: backend

update lock
  backend/api/poetry.lock
Labels: backend

update
  Makefile
  backend/api/app/crud/data_contract.py
  backend/api/app/errors/crud/data_contract.py
  backend/api/app/errors/routers/data_contract.py
  backend/api/app/main.py
  backend/api/app/routers/data_contract.py
  backend/api/tests/crud/test_data_contract_crud.py
  backend/api/tests/crud/test_template_crud.py
  backend/api/tests/services/test_data_contract_service.py
  backend/api/tests/services/test_template_service.py
Labels: backend

update phony
  Makefile
Labels: none

update help makefile
  Makefile
Labels: none

update
  backend/api/app/crud/data_contract.py
  backend/api/app/errors/service/template.py
  backend/api/app/exceptions/__init__.py
  backend/api/app/exceptions/crud/data_contract.py
  backend/api/app/exceptions/crud/template.py
  backend/api/app/exceptions/database/dsn.py
  backend/api/app/exceptions/database/manager.py
  backend/api/app/exceptions/routers/data_contract.py
  backend/api/app/exceptions/routers/template.py
  backend/api/app/exceptions/utils/config.py
  backend/api/app/routers/data_contract.py
  backend/api/app/schemas/data_contract/routes/data_contract_delete.py
  backend/api/app/utils/tools.py
  backend/api/tests/crud/test_data_contract_crud.py
  backend/api/tests/crud/test_template_crud.py
Labels: backend

format and lint'
  backend/api/app/exceptions/__init__.py
  backend/api/tests/crud/test_data_contract_crud.py
Labels: backend

fix
  backend/api/app/crud/template.py
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/routers/template.py
Labels: backend

fix
  backend/api/app/exceptions/routers/data_contract.py
Labels: backend

fix
  backend/api/app/utils/config.py
  backend/api/tests/services/test_data_contract_service.py
Labels: backend

update
  backend/api/app/crud/data_contract.py
  backend/api/app/crud/template.py
  backend/api/app/services/template.py
  backend/api/tests/crud/test_template_crud.py
  backend/api/tests/services/test_data_contract_service.py
  backend/api/tests/services/test_template_service.py
Labels: backend

Update Python and poetry
  Makefile
  backend/api/Dockerfile
  backend/api/app/exceptions/crud/data_contract.py
  backend/api/app/exceptions/routers/data_contract.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
Labels: backend

update
  .github/codecov.yaml
  .github/workflows/ci-cd.yaml
  backend/api/pyproject.toml
Labels: backend, ci

english comments
  .github/codecov.yaml
Labels: ci

update
  backend/api/poetry.lock
Labels: backend

Update Python and poetry (#37)
  .github/codecov.yaml
  .github/workflows/ci-cd.yaml
  Makefile
  backend/api/Dockerfile
  backend/api/app/exceptions/crud/data_contract.py
  backend/api/app/exceptions/routers/data_contract.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
Labels: backend, ci

review make file lint & format
  Makefile
  backend/api/poetry.lock
  mycelium/package.json
Labels: backend, frontend

fix launch-dev
  Makefile
Labels: none

sqome formatting
  .gitignore
  backend/api/app/crud/data_contract.py
  backend/api/app/database/manager.py
  backend/api/app/main.py
  backend/api/app/routers/data_contract.py
  backend/api/app/services/data_contract.py
  backend/api/app/utils/logger.py
  backend/api/tests/conftest.py
  backend/api/tests/crud/test_template_crud.py
  backend/api/tests/test_database_manager.py
Labels: backend

use json schema instead of additional kwargs in pydantic Field inorder to be ready for pydantic v3
  backend/api/app/schemas/data_contract/objects/config_object.py
  backend/api/app/schemas/data_contract/objects/contact_object.py
  backend/api/app/schemas/data_contract/objects/data_contract.py
  backend/api/app/schemas/data_contract/objects/definition_object.py
  backend/api/app/schemas/data_contract/objects/example_object.py
  backend/api/app/schemas/data_contract/objects/field_object.py
  backend/api/app/schemas/data_contract/objects/info_object.py
  backend/api/app/schemas/data_contract/objects/model_object.py
  backend/api/app/schemas/data_contract/objects/quality_object.py
  backend/api/app/schemas/data_contract/objects/server_object.py
  backend/api/app/schemas/data_contract/objects/service_level_object.py
  backend/api/app/schemas/data_contract/objects/term_object.py
  backend/api/app/schemas/data_contract/routes/data_contract_create.py
  backend/api/app/schemas/data_contract/routes/data_contract_delete.py
  backend/api/app/schemas/data_contract/routes/data_contract_get.py
  backend/api/app/schemas/data_contract/routes/data_contract_list.py
  backend/api/app/schemas/data_contract/routes/data_contract_update.py
  backend/api/app/schemas/template/objects/array_field.py
  backend/api/app/schemas/template/objects/array_item.py
  backend/api/app/schemas/template/objects/boolean_field.py
  backend/api/app/schemas/template/objects/field.py
  backend/api/app/schemas/template/objects/number_field.py
  backend/api/app/schemas/template/objects/password_field.py
  backend/api/app/schemas/template/objects/select_field.py
  backend/api/app/schemas/template/objects/tabs.py
  backend/api/app/schemas/template/objects/template.py
  backend/api/app/schemas/template/objects/text_area_field.py
  backend/api/app/schemas/template/objects/text_field.py
  backend/api/app/schemas/template/routes/template_get.py
  backend/api/app/schemas/template/routes/template_list.py
Labels: backend

lint
  backend/api/app/crud/data_contract.py
Labels: backend

Migrate from Poetry to UV
  .github/workflows/ci-cd.yaml
  .gitignore
  Makefile
  backend/api/Dockerfile
  backend/api/app/__init__.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/uv.lock
Labels: backend, ci

update
  backend/api/app/__init__.py
  backend/api/app/schemas/data_contract/objects/example_object.py
  backend/api/pyproject.toml
Labels: backend

update
  backend/api/app/__init__.py
Labels: backend

update
  .github/workflows/ci-cd.yaml
Labels: ci

update
  backend/api/app/services/template.py
Labels: backend

update
  backend/api/tests/services/test_template_service.py
Labels: backend

update
  backend/api/tests/services/test_template_service.py
Labels: backend

Migrate from Poetry to UV (#39)
  .github/workflows/ci-cd.yaml
  .gitignore
  Makefile
  backend/api/Dockerfile
  backend/api/app/__init__.py
  backend/api/app/schemas/data_contract/objects/example_object.py
  backend/api/app/services/template.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/tests/services/test_template_service.py
  backend/api/uv.lock
Labels: backend, ci

fix creation of datacontract
  backend/api/app/database/manager.py
Labels: backend

format and lint
  backend/api/app/database/manager.py
  backend/api/app/schemas/data_contract/objects/example_object.py
Labels: backend

update tests
  backend/api/tests/test_database_manager.py
Labels: backend

improve coverage
  backend/api/app/database/manager.py
  backend/api/tests/test_database_manager.py
Labels: backend

remove duplicate in make file
  Makefile
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

.github/labeler.yml:

# Backend related changes
"backend":
  - any: ['backend/**/*']

# Frontend related changes
"frontend":
  - any: ['mycelium/**/*']

# Database related changes
"database":
  - any: ['backend/database/**/*', '**/migrations/**/*', '**/models/**/*', '**/*.sql']

# Documentation changes
"documentation":
  - any: ['**/*.md', '**/*.rst', 'docs/**/*']

# Configuration changes
"config":
  - any: ['**/*.yml', '**/*.yaml', '**/*.json', '**/*.toml', '**/*.ini', '.env*']

# Docker related changes
"docker":
  - any: ['**/Dockerfile', '**/docker-compose*.yml', '**/docker-compose*.yaml', '.dockerignore']

# CI/CD changes
"ci":
  - any: ['.github/**/*']

# Dependencies updates
"dependencies":
  - any: ['**/requirements.txt', '**/requirements/*.txt', '**/poetry.lock', '**/pyproject.toml', '**/package.json', '**/package-lock.json', '**/yarn.lock']

# Security related changes
"security":
  - any: ['**/security/**/*', '**/auth/**/*', '**/authentication/**/*', '**/authorization/**/*']

# Testing related changes
"testing":
  - any: ['**/tests/**/*', '**/*_test.py', '**/*.spec.ts', '**/*.test.ts', '**/*.spec.js', '**/*.test.js']

# API related changes
"api":
  - any: ['**/api/**/*', '**/routes/**/*', '**/endpoints/**/*', '**/controllers/**/*']
