Repository myceliumAI/mycelium, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci, dependencies, security, testing, api

.github/labeler.yml:

# Backend related changes
backend:
- 'backend/**/*'

# Frontend related changes
frontend:
- 'mycelium/**/*'

# Database related changes
database:
- 'backend/database/**/*'
- '**/migrations/**/*'
- '**/models/**/*'
- '**/*.sql'

# Documentation changes
documentation:
- '**/*.md'
- '**/*.rst'
- 'docs/**/*'

# Configuration changes
config:
- '**/*.yml'
- '**/*.yaml'
- '**/*.json'
- '**/*.toml'
- '**/*.ini'
- '.env*'

# Docker related changes
docker:
- '**/Dockerfile'
- '**/docker-compose*.yml'
- '**/docker-compose*.yaml'
- '.dockerignore'

# CI/CD changes
ci:
- '.github/**/*'

# Dependencies updates
dependencies:
- '**/requirements.txt'
- '**/requirements/*.txt'
- '**/poetry.lock'
- '**/pyproject.toml'
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

# Security related changes
security:
- '**/security/**/*'
- '**/auth/**/*'
- '**/authentication/**/*'
- '**/authorization/**/*'

# Testing related changes
testing:
- '**/tests/**/*'
- '**/*_test.py'
- '**/*.spec.ts'
- '**/*.test.ts'
- '**/*.spec.js'
- '**/*.test.js'

# API related changes
api:
- '**/api/**/*'
- '**/routes/**/*'
- '**/endpoints/**/*'
- '**/controllers/**/*'

Add possibility to use unix socket easily
  backend/api/Dockerfile
  backend/api/app/database/manager.py
  backend/api/app/utils/config.py
Labels: backend, docker, api

Do not use port when unix socket
  backend/api/app/utils/config.py
Labels: backend, api

Update
  backend/api/Dockerfile
  backend/api/app/utils/config.py
Labels: backend, docker, api

update
  backend/api/app/utils/config.py
Labels: backend, api

Add possibility to use unix socket easily (#30)
  backend/api/Dockerfile
  backend/api/app/database/manager.py
  backend/api/app/utils/config.py
Labels: backend, docker, api

Split build images
  .github/workflows/ci-cd.yaml
Labels: config, ci
