Repository myceliumAI/mycelium, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci, dependencies, security, testing, api

.github/labeler.yml:

# Backend related changes
"backend":
  - any: ['backend/**/*']

# Frontend related changes
"frontend":
  - any: ['mycelium/**/*']

# Database related changes
"database":
  - any: ['backend/database/**/*', '**/migrations/**/*', '**/models/**/*', '**/*.sql']

# Documentation changes
"documentation":
  - any: ['**/*.md', '**/*.rst', 'docs/**/*']

# Configuration changes
"config":
  - any: ['**/*.yml', '**/*.yaml', '**/*.json', '**/*.toml', '**/*.ini', '.env*']

# Docker related changes
"docker":
  - any: ['**/Dockerfile', '**/docker-compose*.yml', '**/docker-compose*.yaml', '.dockerignore']

# CI/CD changes
"ci":
  - any: ['.github/**/*']

# Dependencies updates
"dependencies":
  - any: ['**/requirements.txt', '**/requirements/*.txt', '**/poetry.lock', '**/pyproject.toml', '**/package.json', '**/package-lock.json', '**/yarn.lock']

# Security related changes
"security":
  - any: ['**/security/**/*', '**/auth/**/*', '**/authentication/**/*', '**/authorization/**/*']

# Testing related changes
"testing":
  - any: ['**/tests/**/*', '**/*_test.py', '**/*.spec.ts', '**/*.test.ts', '**/*.spec.js', '**/*.test.js']

# API related changes
"api":
  - any: ['**/api/**/*', '**/routes/**/*', '**/endpoints/**/*', '**/controllers/**/*']

add socket var in makefile
  .env_example
  Makefile
  README.md
Labels: none

update
  .github/workflows/ci-cd.yaml
  backend/api/app/database/manager.py
  backend/api/app/utils/config.py
Labels: backend, ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

Add postgres socket in docker compose back
  backend/docker-compose.yml
Labels: backend

update
  .github/actions/shared/load-config/action.yml
  .github/actions/shared/setup/action.yml
  .github/config/test-config.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/tests.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
  .github/workflows/reusable/build.yaml
Labels: ci

update
  .github/actions/shared/load-config/action.yml
  .github/config/test-config.yml
Labels: ci

update
  backend/api/app/utils/config.py
Labels: backend

update
  .github/workflows/ci-cd.yaml
Labels: ci

update
  backend/api/app/database/dsn.py
Labels: backend

update
  backend/api/app/database/manager.py
Labels: backend

test
  .github/workflows/ci-cd.yaml
Labels: ci

siplify database setup
  backend/database/Dockerfile
  backend/database/entrypoint.sh
Labels: backend

update
  .github/workflows/build.yaml
  .github/workflows/changes.yaml
  .github/workflows/ci-cd.yaml
  .github/workflows/labeler.yml
  .github/workflows/maintenance.yaml
Labels: ci

update
  .github/workflows/build.yaml
  .github/workflows/changes.yaml
  .github/workflows/labeler.yml
  .github/workflows/maintenance.yaml
  .github/workflows/tests.yaml
Labels: ci

update
  .github/actions/shared/setup/action.yml
  .github/workflows/tests.yaml
Labels: ci

black format
  backend/api/app/database/manager.py
Labels: backend

update
  backend/api/app/database/manager.py
Labels: backend

update
  .github/workflows/build.yaml
Labels: ci

update
  .github/workflows/build.yaml
  .github/workflows/changes.yaml
  .github/workflows/ci-cd.yaml
  .github/workflows/reusable/validate.yaml
  .github/workflows/tests.yaml
Labels: ci

udate
  .github/actions/shared/setup/action.yml
  .github/workflows/tests.yaml
Labels: ci

delete uneccessary secret
  .github/workflows/build.yaml
Labels: ci

update
  .github/workflows/changes.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

renamin gin makefile
  Makefile
Labels: none

update
  backend/api/app/database/manager.py
Labels: backend

update
  backend/api/app/database/manager.py
Labels: backend

update permissions
  .github/workflows/ci-cd.yaml
Labels: ci

fix socket
  backend/api/app/database/manager.py
Labels: backend

fix ubuntu latest
  .github/workflows/maintenance.yaml
Labels: ci

updae
  .github/actions/shared/load-config/action.yml
  .github/actions/shared/setup/action.yml
  .github/config/test-config.yml
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/changes.yaml
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

set to None config var if empty string
  backend/api/app/utils/config.py
Labels: backend

add host mapping
  Makefile
  backend/docker-compose.yml
Labels: backend

define env var in the config and use them in dsn
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/utils/config.py
Labels: backend

updat
  .github/workflows/ci-cd.yaml
Labels: ci

update cicd
  .github/workflows/ci-cd.yaml
  .github/workflows/reusable/build.yaml
  .github/workflows/reusable/changes.yaml
  .github/workflows/reusable/tests.yaml
  .github/workflows/reusable/validate.yaml
  backend/api/app/database/dsn.py
Labels: backend, ci

Update
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/utils/config.py
Labels: backend

update versions
  .github/workflows/ci-cd.yaml
  .github/workflows/labeler.yml
  .github/workflows/maintenance.yaml
  .github/workflows/reusable/build.yaml
  .github/workflows/reusable/changes.yaml
  .github/workflows/reusable/tests.yaml
Labels: ci
