Repository myceliumAI/mycelium, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci, dependencies, security, testing, api

define the db url in keycloack at run time
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

accept all hosts by default
  backend/api/app/utils/config.py
Labels: backend

fix non root user for database
  backend/database/Dockerfile
Labels: backend

add support of unix socket for keyckloak
  Makefile
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

add default value for lint test
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

fix labeler
  .github/workflows/labeler.yml
Labels: ci

labeler fix
  .github/workflows/labeler.yml
Labels: ci

try to setup junixsocket for unix socket connection
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

removed unix socket for keycloak
  Makefile
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

add back root user in keycloak dockerfile
  backend/keycloak/Dockerfile
Labels: backend

removed unix socket for keycloak
  Makefile
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

add support of unix socket for keyckloak
  Makefile
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

fix labeler
  .github/workflows/labeler.yml
Labels: ci

define the db url in keycloack at run time
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

fix non root user for database
  backend/database/Dockerfile
Labels: backend

accept all hosts by default
  backend/api/app/utils/config.py
Labels: backend

try to setup junixsocket for unix socket connection
  backend/keycloak/Dockerfile
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

add back root user in keycloak dockerfile
  backend/keycloak/Dockerfile
Labels: backend

labeler fix
  .github/workflows/labeler.yml
Labels: ci

add default value for lint test
  backend/keycloak/scripts/entrypoint.sh
Labels: backend

Add tests
  .github/workflows/ci-cd.yaml
  Makefile
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/tests/conftest.py
  backend/api/tests/test_data_contract_crud.py
  backend/api/tests/test_database_manager.py
Labels: backend, ci

ruff
  .github/workflows/ci-cd.yaml
  Makefile
  backend/api/app/crud/data_contract.py
  backend/api/app/crud/template.py
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/main.py
  backend/api/app/models/data_contract.py
  backend/api/app/routers/data_contract.py
  backend/api/app/routers/template.py
  backend/api/app/schemas/data_contract/objects/config_object.py
  backend/api/app/schemas/data_contract/objects/contact_object.py
  backend/api/app/schemas/data_contract/objects/data_contract.py
  backend/api/app/schemas/data_contract/objects/definition_object.py
  backend/api/app/schemas/data_contract/objects/example_object.py
  backend/api/app/schemas/data_contract/objects/field_object.py
  backend/api/app/schemas/data_contract/objects/info_object.py
  backend/api/app/schemas/data_contract/objects/model_object.py
  backend/api/app/schemas/data_contract/objects/quality_object.py
  backend/api/app/schemas/data_contract/objects/server_object.py
  backend/api/app/schemas/data_contract/objects/service_level_object.py
  backend/api/app/schemas/data_contract/objects/term_object.py
  backend/api/app/schemas/data_contract/routes/data_contract_list.py
  backend/api/app/schemas/template/objects/array_item.py
  backend/api/app/schemas/template/objects/field.py
  backend/api/app/schemas/template/objects/select_field.py
  backend/api/app/schemas/template/objects/tabs.py
  backend/api/app/schemas/template/objects/template.py
  backend/api/app/schemas/template/objects/text_field.py
  backend/api/app/schemas/template/routes/template_list.py
  backend/api/app/utils/config.py
  backend/api/app/utils/example_model.py
  backend/api/app/utils/logger.py
  backend/api/app/utils/tools.py
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/tests/conftest.py
  backend/api/tests/test_data_contract_crud.py
  backend/api/tests/test_database_manager.py
  backend/api/tests/tools_test.py
Labels: backend, ci

update
  .github/workflows/ci-cd.yaml
  Makefile
  backend/api/poetry.lock
Labels: backend, ci

unsafe fixes
  backend/api/app/crud/data_contract.py
  backend/api/app/crud/template.py
  backend/api/app/database/manager.py
  backend/api/app/main.py
  backend/api/app/utils/tools.py
  backend/api/tests/test_database_manager.py
Labels: backend

fix lint and format
  backend/api/app/crud/data_contract.py
  backend/api/app/crud/template.py
  backend/api/app/database/dsn.py
  backend/api/app/database/manager.py
  backend/api/app/main.py
  backend/api/app/routers/data_contract.py
  backend/api/app/routers/template.py
  backend/api/app/utils/config.py
  backend/api/tests/conftest.py
  backend/api/tests/test_database_manager.py
Labels: backend

Update codecov
  .github/workflows/ci-cd.yaml
Labels: ci

set continue on error
  .github/workflows/ci-cd.yaml
Labels: ci

use sha as version
  .github/workflows/ci-cd.yaml
Labels: ci

fix sha setup-python
  .github/workflows/ci-cd.yaml
Labels: ci

fix sha setup-python
  .github/workflows/ci-cd.yaml
Labels: ci

refacto cicd
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

update
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

tst smtg
  .github/workflows/ci-cd.yaml
Labels: ci

.github/labeler.yml:

# Backend related changes
"backend":
  - any: ['backend/**/*']

# Frontend related changes
"frontend":
  - any: ['mycelium/**/*']

# Database related changes
"database":
  - any: ['backend/database/**/*', '**/migrations/**/*', '**/models/**/*', '**/*.sql']

# Documentation changes
"documentation":
  - any: ['**/*.md', '**/*.rst', 'docs/**/*']

# Configuration changes
"config":
  - any: ['**/*.yml', '**/*.yaml', '**/*.json', '**/*.toml', '**/*.ini', '.env*']

# Docker related changes
"docker":
  - any: ['**/Dockerfile', '**/docker-compose*.yml', '**/docker-compose*.yaml', '.dockerignore']

# CI/CD changes
"ci":
  - any: ['.github/**/*']

# Dependencies updates
"dependencies":
  - any: ['**/requirements.txt', '**/requirements/*.txt', '**/poetry.lock', '**/pyproject.toml', '**/package.json', '**/package-lock.json', '**/yarn.lock']

# Security related changes
"security":
  - any: ['**/security/**/*', '**/auth/**/*', '**/authentication/**/*', '**/authorization/**/*']

# Testing related changes
"testing":
  - any: ['**/tests/**/*', '**/*_test.py', '**/*.spec.ts', '**/*.test.ts', '**/*.spec.js', '**/*.test.js']

# API related changes
"api":
  - any: ['**/api/**/*', '**/routes/**/*', '**/endpoints/**/*', '**/controllers/**/*']
